.tour {
  &__title {
    text-align: center;
    font-size: var(--h2-font);
    font-weight: 800;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
  }

  &__card {
    position: relative;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      filter: brightness(70%);
      transition: all .3s cubic-bezier(.499, .05, .55, .95);
      will-change: filter;
      display: block;

      &:hover {
        filter: brightness(90%) hue-rotate(50deg);
        transform: scale(1.04);
        cursor: pointer;
      }
    }

    &-subtitle {
      position: absolute;
      left: 25px;
      bottom: 95px;
      font-size: 18px;
      font-weight: 500;
    }

    &-title {
      position: absolute;
      left: 25px;
      bottom: 65px;
      font-size: 20px;
      font-weight: 700;
    }
  }

  &__btn {
    text-align: center;
    margin-top: 4rem;
  }
}